/*
    Created on : 08.01.2024, 06:36:32
    Author     : rborowski
*/

.espai-form input[type=text],
.espai-form input[type=number],
.espai-form select {
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 1px solid #333;
}

.espai-form button[type='submit'] {
  padding: 0.5rem 1rem;
  color: white;
  background: #009ab6;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
}

.espai-form label {
  display: block;
}

.espai-table {
  width: 100%;
  border-collapse: collapse;
}

.espai-table th {
  text-align: left;
}

.espai-table th,
.espai-table td {
  padding: 0.5rem 0.5rem;
}

.espai-table tr {
  border-bottom: 1px solid #a7c631;
}

.espai-event-table-time {
  width: 15%;
}

.espai-event-table-production,
.espai-event-table-venue {
  width: 55%;
}

.espai-event-table-seats {
  width: 10%;
}

.espai-event-table-reservation {
  width: 20%;
}

.espai-presentation-list {
  list-style: none;
}

.espai-presentation-list-title {
  display: block;
  margin: 1rem 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.espai-venue-list {
  list-style: none;
}

.espai-venue-list li {
  display: inline-block;
  flex: 1;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 1rem 0.5rem;
  vertical-align: top;
}

.espai-venue-list img {
  display: block;
  margin-bottom: 0.5rem;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: 1rem 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.validation-error {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: #9e4339;
  color: white;
}

.espai-schedule {
  width: 100%;
}